<div class="row text-left">

</div>
<!--Basic Table Starts-->
<section id="simple-table">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <button [routerLink]="['/tables/regular2F']" class="btn btn-raised btn-primary">
                        <i class="fa fa-plus"></i> ثبت جدید
                    </button>

                    <br />

                    <h4 class="card-title">
                        جستجوی حواله

                    </h4>
                    <dp-date-picker dir="rtl"
                                    mode="day"
                                    placeholder="تاریخ"
                                    theme="dp-material">
                    </dp-date-picker>
                    <div class="row">

                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="شماره">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="تاریخ">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="تا">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="کارت ناوگان">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="کارت راننده">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="شماره قرارداد">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="فرستنده">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="صاحب کالا">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="گیرنده">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="نوع بار">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group">

                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control round" name="form-control-with-icon" placeholder="کالا">
                                    <div class="form-control-position">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <button type="button" class="btn btn-raised btn-primary">
                            <i class="fa fa-check-square-o"></i> جستجو
                        </button>
                    </div>
                    <br />
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>از شماره</th>
                                    <th>تا شماره</th>
                                    <th>سری بارنامه</th>
                                    <td>	تعداد بارنامه</td>
                                    <td>	مصرف شده</td>
                                    <td>	باطل شده</td>
                                    <td>	باقی مانده</td>
                                    <td>تاریخ ثبت	</td>
                                    <td>کاربر</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>

                                    <td>784001</td>
                                    <td>784100</td>
                                    <td>94/21</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1394/11/07	</td>
                                    <td>کاربر</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>784001</td>
                                    <td>784100</td>
                                    <td>94/21</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>03</td>
                                    <td>0</td>
                                    <td>1394/11/07	</td>
                                    <td>کاربر</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>7840301</td>
                                    <td>784100</td>
                                    <td>94/21</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>03</td>
                                    <td>0</td>
                                    <td>1394/11/07	</td>
                                    <td>کاربر</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic Table Ends-->
