<div class="row text-left">

</div>
<!--Basic Table Starts-->
<section id="simple-table">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <button [routerLink]="['/tables/regular2F']" class="btn btn-raised btn-primary">
                        <i class="fa fa-plus"></i> ثبت جدید
                    </button>

                    <br />

                    <h4 class="card-title">
                        جستجوی حواله

                    </h4>

                    <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                        <div class="row">

                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">از شماره</label>
                                    <input type="text" class="form-control" id="input1" formControlName="input1" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input1').valid && (regularForm.get('input1').dirty || regularForm.get('input1').touched)">
                                        مقداری عددی برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">تا شماره</label>
                                    <input type="text" class="form-control" id="input2" formControlName="input2" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input2').valid && (regularForm.get('input2').dirty || regularForm.get('input2').touched)">
                                        مقداری عددی برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">سری</label>
                                    <input type="text" class="form-control" id="input3" formControlName="input3" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input3').valid && (regularForm.get('input3').dirty || regularForm.get('input3').touched)">
                                        مقداری  برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">توضیحات</label>
                                    <textarea class="form-control" rows="3" id="input4" formControlName="input4" required></textarea>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input4').valid && (regularForm.get('input4').dirty || regularForm.get('input4').touched)">
                                        مقداری  برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>



                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> جستجو
                                </button>
                            </div>


                        </div>
                    </form>
                    <br />
                    <br />
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>شماره بارنامه</th>
                                    <th>تاریخ</th>
                                    <th>فرستنده</th>
                                    <td>گیرنده</td>
                                    <td>راننده</td>
                                    <td>ناوگان</td>
                                    <td>کالا</td>
                                    <td>وزن</td>
                                    <td>باطل</td>
                                    <td>کد رهگیری</td>
                                    <td>وضعیت ناوگان</td>
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic Table Ends-->
