<div class="row text-left">

</div>
<!--Basic Table Starts-->
<section id="simple-table">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <button [routerLink]="['/tables/regular9F']" class="btn btn-raised btn-primary">
                        <i class="fa fa-plus"></i> ثبت جدید
                    </button>

                    <br />

                    <h4 class="card-title">
                        جستجوی تعرفه ارزش محموله

                    </h4>

                    <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                        <div class="row">




                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">ارزش محموله از</label>
                                    <input type="text" class="form-control" id="input3" formControlName="input3" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input3').valid && (regularForm.get('input3').dirty || regularForm.get('input3').touched)">
                                        مقداری  برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>




                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">ارزش محموله تا </label>
                                    <input type="text" class="form-control" id="input6" formControlName="input6" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input6').valid && (regularForm.get('input6').dirty || regularForm.get('input6').touched)">
                                        مقداری  برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">مبلغ حق بیمه </label>
                                    <input type="text" class="form-control" id="input7" formControlName="input7" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input7').valid && (regularForm.get('input7').dirty || regularForm.get('input7').touched)">
                                        مقداری  برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>


                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label> محموله</label>
                                    <select class="form-control" id="basicSelect">
                                        <option>فاسد شدنی</option>

                                    </select>
                                </div>
                            </div>


                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> جستجو
                                </button>
                            </div>


                        </div>
                    </form>
                    <br />
                    <br />
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th> ارزش محموله از</th>
                                    <th>ارزش محموله تا</th>
                                    <th>مبلغ حق بیمه </th>
                                    <td>کالا</td>
                                    <td>توضیحات </td>
                                
                               
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>

                                    <th> 70000000</th>
                                    <th>700000000</th>
                                    <th>500000</th>
                                    <td></td>
                                    <td> </td>
                                


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic Table Ends-->
