<div class="row text-left">

</div>
<!--Basic Table Starts-->
<section id="simple-table">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <button [routerLink]="['/tables/regular8F']" class="btn btn-raised btn-primary">
                        <i class="fa fa-plus"></i> ثبت جدید
                    </button>

                    <br />

                    <h4 class="card-title">
                        جستجوی ضرائب مالی

                    </h4>

                    <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label> نام</label>
                                    <select class="form-control" id="basicSelect">
                                        <option>حق پایانه</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label> نحوه محاسبه</label>
                                    <select class="form-control" id="basicSelect">
                                        <option>درصد از کرایه</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">مقدار</label>
                                    <input type="text" class="form-control" id="input3" formControlName="input3" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input3').valid && (regularForm.get('input3').dirty || regularForm.get('input3').touched)">
                                        مقداری  برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>


                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <br />
                                    <label> وضعیت:</label>
                                    <label> غیر فعال</label>
                                    <input type="checkbox" aria-label="غیر فعال">
                                    <label> غیر قابل ویرایش</label>
                                    <input type="checkbox" aria-label="غیر قابل ویرایش">
                                   
                                </div>
                            </div>


                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="inputEmail">طرف حساب </label>
                                    <input type="text" class="form-control" id="input6" formControlName="input6" required>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('input6').valid && (regularForm.get('input6').dirty || regularForm.get('input6').touched)">
                                        مقداری  برای فیلد وارد نمایید
                                    </small>
                                </div>
                            </div>





                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> جستجو
                                </button>
                            </div>


                        </div>
                    </form>
                    <br />
                    <br />
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th> نام</th>
                                    <th>نوع محاسبه </th>
                                    <th>گروه</th>
                                    <td>مقدار</td>
                                    <td>غیر فعال </td>
                                    <td>غ ق تغییر</td>
                               
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>

                                    <th> اضافه تناژ</th>
                                    <th>ورود توسط کاربر </th>
                                    <th>شرکت</th>
                                    <td>0</td>
                                    <td>خیر </td>
                                    <td>خیر</td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic Table Ends-->
